HELP.md
front/target/
back/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
front/nbproject/private/
front/nbbuild/
front/dist/
front/nbdist/
front/.nb-gradle/
front/build/

back/nbproject/private/
back/nbbuild/
back/dist/
back/nbdist/
back/.nb-gradle/
back/build/

### VS Code ###
.vscode/
